*{
  box-sizing: border-box;
}

.no-padding-margin {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right:0 !important;
}

.list-group-item{border: none}

.tag{font-size: 100%}
/* Chat Area */
/*
.chatFrame{
  background-color: #36393E;
}
*/
.chatboxDiv{
  height: 69vh;
  max-height: 69vh;
  overflow-y: hidden
}
.chatboxDiv {
  word-break: break-all;
  overflow-y: auto;
  overflow-x: hidden
}

#bottomchat{
  /* background-color: #1e2124; */
  padding: .5em
}

#chatMsgTextArea{
   resize: none;

   width: 100%;

   min-width: 100%;

   box-shadow: 0px 0px 13px -3px #838383;
  border-style: double;
}
/*
#chatMsgTextArea{
  resize: none;
  border-color: #242424;
  background-color: #36393e;
  color: white;

  min-width: 80%;

  padding-left: 5px;
  padding-right: 5px;
}*/

/* for nightmode
.sendMessageBtn { 
  color: #c9cccc; 
  background-color: #36393E; 
  border-color: #36393E; 
} 

.sendMessageBtn:hover, 
.sendMessageBtn:focus, 
.sendMessageBtn:active, 
.sendMessageBtn.active, 
.open .dropdown-toggle.sendMessageBtn { 
  color: #ffffff; 
  background-color: #181a1c; 
  border-color: #181a1c; 
} 
*/
/* Settings Langues */

ul.lang-choice{
  list-style: none;
   margin: 0;
   padding: 0;
}

ul.lang-choice li{
  display: inline-block;
  margin-right: 10px;

  cursor: pointer;
}



/*
 * Online/Offline list
 */

.online{
  color : #20d82f;
  font-size: 60%;
}

.offline{
  color : grey;
font-size: 60%;
}

/*
 * Chat messages
 */

.timestamp{
  color : #808080;
  font-size : 80%;

}
.colon{
  font-size : 85%;
}
.chatmessage{
  margin-top: 5px;
  margin-bottom: 5px;
}

.command{
  white-space: pre;
}

/* Gif Popover */

.gifSearchbar{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center
}
.gifList{
  margin: 0 auto;
  max-height: auto;
  max-width: 274px
}
.gifWrapper{
  padding: 0;
  margin: 0;
  height: 385px;
  width: 278px;
}
#gifRes{
  max-height: 337px;
  width: 272px;
  overflow-y: auto;
  overflow-x:hidden;
  text-align: center
}
#gif_popover_content_wrapper{
  display: none;
}
.popover-content{
  padding: 0;
  margin: 0;
}

/* Emote Popover */

#emotes_global, #emotes_bttv, #emotes_custom{
  height: 300px;
  width: 272px;
  overflow-y: auto;
  overflow-x:hidden;
  text-align: left
}
#emotes_popover_content_wrapper{
  display: none
}
.emotesWrapper{
  max-height: 337px;
  width: 272px
}

/* File upload popover */

#fileUpload_popover_content_wrapper{
  display: none;
}
.fileUploadWrapper{
  height: 250px;
  width: 210px;
}
.btn-toolbar{
  margin: 0 0 0 0;
  text-align: center;
}​
#fileList{
  height: 204px;
  width: 210px;
  overflow-y: auto;
  overflow-x:hidden;
  text-align: center;
}
.list-group-item
{
  padding-bottom: 6px;
  padding-top: 6px;
}
#fileUl{
    max-height: 204px;
    overflow-y: auto; 
}
.ulic{
  padding-top: 4px
}
.fileTooBig{
  background-color: #D52D2D
}

/* Emotes */
.miscemote{
  max-width: 28px
}

/* Gif */
.gif{
  max-width: 280px
}