.no-padding-margin {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right:0 !important;
}


/* Chat Area */
.chatFrame{
  background-color: #36393e;
}

.chatboxDiv{
  height: 72.5vh;
  max-height: 72.5vh;
  overflow-y: hidden;
}
.chatboxDiv:hover {
  overflow-y: auto;
}

#bottomchat{
  /* background-color: #1e2124; */
  padding: .5em;
}

#chatMsgTextArea{
  resize: none;
  border-color: #242424;
  background-color: #36393e;
  color: white;

  min-width: 80%;

  padding-left: 5px;
  padding-right: 5px;
}

.sendMessageBtn { 
  color: #c9cccc; 
  background-color: #36393E; 
  border-color: #36393E; 
} 

.sendMessageBtn:hover, 
.sendMessageBtn:focus, 
.sendMessageBtn:active, 
.sendMessageBtn.active, 
.open .dropdown-toggle.sendMessageBtn { 
  color: #ffffff; 
  background-color: #181a1c; 
  border-color: #181a1c; 
} 

/*
 * Online/Offline list
 */

.online{
  color : #20d82f;
  font-size: 60%;
}

.offline{
  color : grey;
font-size: 60%;
}

/*
 * Chat messages
 */

.timestamp{
  color : #808080;
  font-size : 80%;

}

.colon{
  font-size : 85%;
}

.chatmessage{
  margin-top: 5px;
  margin-bottom: 5px;
  color : white;
}