/* Chat Area */
.chatFrame{
  background-color: #36393e;
}

.chatboxDiv{
  height: 78.7vh;
  max-height: 78.7vh;
  overflow-y: hidden;
}
.chatboxDiv:hover {
  overflow-y: auto;
}

#bottomchat{
  background-color: #1e2124;
  padding: .5em;
}

#chatMsgTextArea{
  resize: none;
  border-color: #242424;
  background-color: #36393e;
  color: white;

  min-width: 80%;

  padding-left: 5px;
  padding-right: 5px;
}

/*
 * Online/Offline list
 */

.online{
  color : green;
}

.offline{
  color : grey;
}

/*
 * Chat messages
 */

.timestamp{
  color : #808080;
  font-size : 80%;

}

.colon{
  font-size : 85%;
}

.chatmessage{
  margin-top: 5px;
  margin-bottom: 5px;
  color : white;
}